
* {
  box-sizing: border-box;
}

  *:before,
  *:after {
    box-sizing: border-box;
  }

html body {
  height: 100%;
  position: relative;
}

btn {
  font-size: 0.875em;
  display: block;
   /* left: -60px;*/
  margin-top: 35px;
  width: 100%;
}

.modal-dialog {
  position: center;
  /*display: table;*/ /* This is important */
  /*overflow-y: auto;
  overflow-x: auto;*/
  width: auto;
  height: auto;
  /* min-width: 300px;*/
}

 
