<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="col-lg-12 container-fluid grad2" style="border-style:solid; border-color:lightgray;">
  <div class="row">
    <div class="col-lg-3">
      <img class="img-responsive" src="assets/img/canadaflag.png" style="float: right; border-style: solid;  border-width: 1px; border-color:black;" />
    </div>
    <div class="col-lg-6 ">
      <a href='https://en.wikipedia.org/wiki/History_of_the_Canadian_Army' target="_blank">
        <h3 style="text-align: center; padding-top: 25px; color: white; text-decoration: underline;">Canadian Military Past and Present</h3>
      </a>
    </div>
    <div class="col-lg-3">
      <!--<img class="img-responsive" src="assets/img/CanadianForcesEnsign.png" style="float: left; border-style: solid; border-width:1px; border-color:black;" />-->
      <img class="img-responsive" src="assets/img/CanadianForcesEnsign.png" style="float: left;" />
    </div>
  </div>
</div>

<div class="col-lg-12 container-fluid grad2">
  <div class="row">
    <nav style="text-align:center; align-content:center;" class='container  navbar navbar-expand-sm  navbar-toggleable-sm navbar-light   center'>
      <div class="col-lg-1"></div>
      <div class="col-lg-10">



        <!--<button mat-raised-button color="primary" [class.spinner]="loading" [disabled]="loading" (click)="save()">Save</button>-->
        <!--[class.spinner]="loading" [disabled]="loading"-->

        <button class="my-button" type="button" style="width:100px" [routerLink]='["/fetch-data", "Bcatp","bcatp"]' routerLinkActive="active" data-tooltip="British Commonwealth Air Training Plan">Bcatp</button>
        <button class="my-button" type="button" style="width:100px" [routerLink]="['/fetch-army', 'Army','army']" routerLinkActive="active" data-tooltip="Canadian Forces Base">Army</button>
        <button class="my-button" type="button" style="width:100px" [routerLink]="['/fetch-airforce', 'Airforce','airforce']" routerLinkActive="active" data-tooltip="Royal Canadian Air Force">Air Force</button>
        <button class="my-button" type="button" style="width:100px" [routerLink]='["/fetch-navy", "Navy","navy"]' routerLinkActive="active" data-tooltip="Royal Canadian Navy">Navy</button>
        <button class="my-button" type="button" style="width:100px" [routerLink]="['/fetch-dewline', 'Dewline','dewline']" routerLinkActive="active" data-tooltip="Distant Early Warning Line">DewLine</button>
        <button class="my-button" type="button" style="width:100px" [routerLink]="['/fetch-pinetree', 'Pinetree','pinetree']" routerLinkActive="active" data-tooltip="Pinetree Line">Pinetree</button>
        <button class="my-button" type="button" style="width:100px" [routerLink]="['/fetch-midcanada', 'MidCanada','midcanada']" routerLinkActive="active" data-tooltip="Mid-Canada Line">Mid CDN</button>
        <button class="my-button" type="button" style="width:100px" [routerLink]="['/fetch-defunct', 'Defunct','defunct']" routerLinkActive="active" data-tooltip="Defunct Canadian military bases">Defunct</button>
      </div>
      <div class="col-lg-1"></div>  
    </nav>
  </div>
  </div>
  <!--style="border-style:solid; border-color:black;"-->
