<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="grad1 col-lg-12 no-padding" style="overflow-x: hidden;">

  <br /><h5 style="margin-left:20px;">Welcome to Canadian Military Past and Present, built with:</h5><br />
  <div class="container">
    <div class="row col-lg-12">
      <div class="col-lg-6">
        <ul class="">
          <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
          <li><a href='https://angular.io/'>Angular 9</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
          <li><a href='http://getbootstrap.com/'>Bootstrap and CSS</a> for layout and styling</li>
          <li>SQlite Database</li>
          <li>Google agm-map</li>
          <li>Azure DevOps CD/CI</li>
          <li>VS2019</li>
        </ul>
      </div>

      <div class="col-lg-6" style="display:table-cell; vertical-align:middle; text-align:center">
        <img class="img-responsive" src="assets/img/CanadianArmedForces.png" style="border-style: none;  " />
      </div>
    </div>
  </div>
</div>
